# Archivos de configuración de IDE (Opcional, pero recomendado)
.classpath
.project
.settings/
bin/

# Base de datos local (NO SUBIR NUNCA)
*.json

# Archivos temporales del sistema
.DS_Store
Thumbs.db